.DS_Store
*.synctex.gz
books/*
ComparabilityGrids/*
examples/*
papers/*
notes/*
*.bbl
Icon
temp.*
exp.*
*.blg
*.fdb_latexmk
*.bbl
*.aux
*.fls
*.bcf
*.log
*.toc
*.run.xml
*.synctex(busy)
*.idx
*.ind
*.ilg
*.lof
*.lot